// color palette
$main-color-txt: white;
$main-bg-header: #99857a;
$logo: rgb(241,100,100);
$color2: #663926;
$color3: #ff9d6f;
$color4: #e27b58;
$color5: #c67b5c;
$almostblack: rgb(4,4,4);

//tipografia - fonts
$main-font-family: 'Open Sans Condensed', Helvetica, sans-serif;
$logo-font-family: 'Black Ops One', sans-serif;
